name: pr-checks
run-name: ${{ github.actor }} is running pr checks
on: pull_request
jobs:
  build:
    runs-on: ubuntu-latest
    environment: 
      name: dev
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Make changes
        run: |
          # make your changes
          echo "Random change: $RANDOM" >> random-change.txt
          current_branch=${{ github.head_ref }}
          branch_name="$current_branch-docs"
          git checkout -b "$branch_name"
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@noreply.github.com"
          git add .
          git commit -m "Automated changes"
          git push origin "$branch_name"

      - name: Create PR
        run: |
          current_branch=${{ github.head_ref }}
          branch_name="$current_branch-docs"
          gh pr create --base main --head "$branch_name" --title "Automated PR for documentation updates" --body "This PR was created by a workflow" --assignee "${{ github.actor }}"
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}